.label {
    -fx-font-family: "Lucida Console";
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, grey, 30, 0.5, 0, 0);
}

.button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-family: "Lucida Console";
}

.button:hover {
    -fx-background-color: black;
    -fx-text-fill: rgba(255, 255, 255, 0.75);
}

.button:default {
    -fx-background-color: black;
    -fx-text-fill: rgba(255, 255, 255, 0.25);
}